# Postgres
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB="Название базы данных"
POSTGRES_USER="Имя юзера в Postgres"
POSTGRES_PASSWORD="Пароль от базы данных"

# Backend
SECRET_KEY="Ваше мегасекретное слово"
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=30
SUPER_ADMIN="Ваша почта правящая приложением"

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

# SMTP
EMAIL="Привязанная почта с приложением"
PASSWORD="Пароль выдаваемый единожды, при регистрации почты для приложения"
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587

# Gemini
GEMINI_API_KEY="Для заполнения этого поля, вам необходимо достать официальный API от Google серв"
